<?xml version="1.0" encoding="utf-8"?>
<odoo>

<record id="website_opportunities_action" model="ir.actions.act_window">
    <field name="name">Website Opportunities</field>
    <field name="type">ir.actions.act_window</field>
    <field name="res_model">website.opportunities</field>
    <field name="view_mode">kanban,tree,form</field>
</record>

 <menuitem id="website_opportunities_menu"
              name="Website Opportunities"
              sequence="1"
              action="website_opportunities_action"/>

</odoo>